<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
			point="org.eclipse.ui.newWizards">
		<wizard
			category="de.tubs.skeditor.category.skeditor"
			class="de.tubs.skeditor.spl.wizards.GeneratorWizard"
			icon="icons/project16.png"
			id="de.tubs.skeditor.spl.newspl"
			name="Skeditor Feature Composition">
		</wizard>
	</extension>
	
</plugin>
